.register_heading {
    text-align: center;
}
/* .ant-form-item-control-input-content{
    text-align: center!important;
} */
.login_link {
    text-align: center;
    margin-top: 20px;
}

.login_here:hover{
    color: orange;
}

.btn_register:hover {
    color: #fff!important;
    background-color: #000!important;
}
a {
    text-decoration: none !important;
}